:root{
--swiper-theme-color: linear-gradient(135deg,#ed55c7,#6756ca) !important;
--white: #FBFBFB;
--text-color : #484848;
--text-color-product : #101010;
--bg-small : #EEEEEE;
--color-hover: linear-gradient(135deg,#ed55c7,#6756ca);
--pd-section : 24px 40px;
--boder-color : #cccccc78;
}
.mt-1{
    margin-top: 1.5rem;
}
.p-1{
    padding: 10px;
}
.p-2{
    padding: 20px;
}
.p-3{
    padding: 30px;
}
.p-4{
    padding: 40px;
}
.p-t-1{
    padding: 10px;
}
.p-t-2{
    padding: 20px;
}
.p-t-3{
    padding: 30px;
}
.p-t-4{
    padding: 40px;
}
.p-b-1{
    padding: 10px;
}
.p-b-2{
    padding: 20px;
}
.p-b-3{
    padding: 30px;
}
.p-b-4{
    padding: 40px;
}
.p-l-1{
    padding: 10px;
}
.p-l-2{
    padding: 20px;
}
.p-l-3{
    padding: 30px;
}
.p-l-4{
    padding: 40px;
}
.p-r-1{
    padding: 10px;
}
.p-r-2{
    padding: 20px;
}
.p-r-3{
    padding: 30px;
}
.p-r-4{
    padding: 40px;
}

.page-section{
    padding : var(--pd-section);
    background-color : var(--white);
}
.bg-w{
    background-color : var(--white);
}
.mt-1{
    margin-top: 15px;
}
.text-hover:hover{
        color: linear-gradient(135deg,#ed55c7,#6756ca);
        background: linear-gradient(135deg,#ed55c7,#6756ca);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .truncate {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }